.content {
  @media (max-width: $screen-sm-min) {
    padding: 0 1rem;
  }
  @media (min-width: $screen-sm-min) {
    min-height: calc(100vh - 7rem);
  }
  @extend .inner;
  &__svg {
    display: block;
    margin: 2rem auto;
    width: 85vw;
    transition: filter 0.25s linear;
    @media (min-width: $screen-sm-min) {
      max-width: 25rem;
      &.on-left {
        max-width: 10rem;
        float: left;
        margin: 2rem 2rem 2rem 1rem;
      }
    }
    &.is-animated {
      filter: drop-shadow(0 0 0 rgba(0,0,0,0));
      &:hover {
        filter: drop-shadow(0 0 1rem rgba(0,0,0,0.5));
      }
    }
  }
}

.article.single-page {
  .pagetitle {
    font-size: 1.7rem;
    margin-bottom: 0;
    @media (min-width: $screen-sm-min) {
      font-size: 2.2rem;
    }
  }
  > p {
    line-height: 1.55;
    @media (min-width: $screen-sm-min) {
      padding: 0 3rem 0 10rem;
    }
  }
}