#hamburger {
  background-color: var(--copper-penny);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  left: 0.5rem;
  line-height: 1;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  top: 0.5rem;
  width: 3rem;
  z-index: 1;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.menu {
  &__list {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
    @media (min-width: $screen-md-min) {
      text-align: right;
    }
  }
  @media (max-width: $screen-md-min) {
    display: block;
    max-height: 100vh;
    height: 100vh;
    width: 80vw;
    background-color: var(--copper-penny);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    &__link {
      display: block;
      padding: 1.5rem 2rem;
      color: var(--alabaster);
      border-bottom: 1px solid var(--alabaster-border);
      text-decoration: none;
      &:hover {
        background-color: var(--timberwolf); 
        color: var(--eerie-black);
        font-weight: 700;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    &__item {
      display: inline-block;
    }
    &__link {
      padding: 0rem 1rem;
      color: var(--alabaster);
      text-decoration: none;
      &:hover {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
  &__bg {
    @media (max-width: $screen-md-min) {
      background-color: rgba(0,0,0,0.25);
      bottom: 0;
      display: none;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 3;
      body.js_menuopened & {
        display: block;
      }
    }
  }
}

.mainheader {
  background-color: var(--copper-penny);
  @media (min-width: $screen-md-min) {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
}

.maintitle {
  line-height: 1.1;
  color: var(--alabaster);
  @media (max-width: $screen-md-min) {
    padding: 1rem 1rem 1rem 3rem;
  }
  &__title {
    padding:0 0.5rem;
    margin: 0 0 0.25rem 0;
    font-size: 1.3rem;
    > a {
      color: var(--alabaster);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__subtitle {
    padding: 0 0.5rem 1rem 0.5rem;
    margin: 0 0 0 0;
    font-size: 1.1rem;
  }
}