#hamburger {
  background-color: var(--copper-pennyhc);
  border-radius: 100%;
  border: 1px solid var(--copper-pennyhc);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  left: 0.5rem;
  line-height: 1;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  top: 0.5rem;
  width: 3rem;
  z-index: 4;
  transition: all 0.35s linear;
  body.js_menuopened & {
    left: 85vw;
    border: 1px solid #FFF;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.hamburger {
  &__bar {
    background-color: #fff;
    height: 4px;
    display: block;
    width: 100%;
    margin: 0.2rem 0 0.35rem 0;
    border-radius: 4px;
    transition: all 0.25s linear;
    position: relative;
    top: 0;
    body.js_menuopened & {
      height: 2px;
      &:nth-child(2) {
        display: none;
      }
      &:first-child {
        transform: rotateZ(45deg);
        top: 0.65rem;
      }
      &:last-child {
        transform: rotateZ(-45deg);
        top: 0.2rem;
      }
    }
  }
}

.menu {
  display: inline;
  &__list {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
    @media (min-width: $screen-md-min) {
      text-align: right;
      display: inline;
    }
  }
  @media (max-width: $screen-md-min) {
    display: block;
    background-color: var(--copper-pennyhc);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    .mainheader & {
      max-height: 100vh;
      height: 100vh;
      width: 80vw;
    }
    &__link {
      display: block;
      padding: 1.5rem 2rem;
      color: var(--alabasterhc);
      border-bottom: 1px solid var(--alabaster-border);
      text-decoration: none;
      &:hover {
        background-color: var(--timberwolf); 
        color: var(--eerie-black);
        font-weight: 700;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    &__item {
      display: inline-block;
    }
    &__link {
      padding: 0rem 1rem;
      color: var(--alabasterhc);
      text-decoration: none;
      &:hover {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
  &__bg {
    @media (max-width: $screen-md-min) {
      background-color: rgba(0,0,0,0.25);
      bottom: 0;
      left: -100vw;
      position: fixed;
      top: 0;
      z-index: 3;
      transition: left 0.35s linear;
      body.js_menuopened & {
        left: 0;
        right: 0;
      }
    }
  }
}

.mainheader {
  background-color: var(--copper-pennyhc);
  @media (min-width: $screen-md-min) {
    padding: 0.5rem 0.15rem;
    font-size: 0.875rem;
    transition: all 0.25s linear;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    top: -6.5rem;
    
    body.js_fixedheader & {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      font-size: 0.75rem;
      padding: 0.15rem;
      z-index: 8;
      background-color: var(--copper-pennyhcFixed);
    }
  }
}

.logo {
  display: inline-block;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  mix-blend-mode: luminosity;
  transition: filter 0.25s linear;
  width: 8rem;

  &:hover {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
  }
}

.maintitle {
  line-height: 1.1;
  color: var(--alabaster);
  @media (max-width: $screen-md-min) {
    padding: 1rem 1rem 1rem 3rem;
  }
  &__title {
    padding:0 0.5rem;
    margin: 0 0 0.25rem 0;
    font-size: 1.3rem;
    > a {
      color: var(--alabaster);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__titletext {
    display: none;
  }
  &__subtitle {
    padding: 0 0.5rem 1rem 0.5rem;
    margin: 0 0 0 0;
    font-size: 1.1rem;
  }
  &__logo {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    mix-blend-mode: luminosity;
    transition: filter 0.25s linear;
    width: 8rem;
    &:hover {
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
    }
    @media (min-width: $screen-md-min) {
      body.js_fixedheader & {
        width: 5rem;
      }
    }
  }
}