<footer class="footer">
  <div class="footer__inner">
    <img class="logo footer__logo" width="160" height="80" src="svg/logo.svg" title="{{headerTitle}}" alt="{{headerTitle}}" />
    <div>
      &copy; Eduardo - Sedue - Rey, 2021
      <div class="menufooter">
        <include src="components/menuitems.html"></include>
      </div>
    </div>
  </div>
</footer>
<link
  rel="stylesheet"
  media="print"
  href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&amp;display=swap"
  onload="this.onload=null;this.removeAttribute('media');"
>
<noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&amp;display=swap">
</noscript>