:root {
  // Paleta generada desde
  // https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-ad6a6c
  /* CSS HEX */
  --timberwolf: #cfdbd5ff;
  --alabaster: #e8eddfff;
  --alabasterhc: #fff;
  --alabaster-border: hsla(81, 28%, 90%, 0.2);
  --maize-crayola: #f5cb5cff;
  --eerie-black: #242423ff;
  --copper-penny: #ad6a6cff;
  --copper-pennyhc: #6d4344;
  
  --grid-width: 68rem;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 0.6rem + 1.5vw, 20px);
  font-weight: 400;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

body {
  background-color: var(--alabaster);
  color: var(--eerie-black);
  font-family: 'Noto Sans', sans-serif;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}